modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "package"
mode = "sequential"
author = 48788709

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean package -Dmaven.test.skip=true"

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 48788709

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -jar target/proxyserver-1.0.0.jar"

[[ports]]
localPort = 3000
externalPort = 3000
